@tailwind base;
@tailwind components;
@tailwind utilities;

.check {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

.progress-bar {
  clip-path: rect(0px 100% 0% 0px);
}

.exemplo-hover {
  margin: auto auto;
  width: fit-content;
  border-radius: 1rem;
  border: 1px solid white;
  background-color: white;
  padding: 1rem 2rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
  color: #172554;
}

.exemplo-open-me {
  margin: auto 0;
  display: inline-flex;
  width: 100%;
  max-width: 16rem;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 1rem;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #023047;
}

.ball {
  border-radius: 100%;
  background: black;
  height: 100px;
  width: 100px;
}
